.Pokedex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
    
}


.Pokedex-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}